.dd{
    height: 500px;
    width: 800px;
    margin: auto;
    /* border: 2px solid black; */
}
.centerdiv{
    text-align: center;
    margin-top: 0px;
    padding: auto;
    width: 100%;
    height: 40%;
    border: 1px solid black;
    /* position: relative; */
    /* top: -10px; */
    background-color: #FF9999;
}
.dh{
    border: 1px solid black;
    width: 100%;
    height: 60%;
}
.proimage{
    float: left;
    /* position: relative;
    top: -100px;
    left: 1900px; */
    margin-top: -303px;
    background-color: #ECECFB;
    text-align: center;
    margin-left: 75%;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}
.imageTag{
    width: 75%;
    float: left;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
}