.main{
    border:2px solid black;
    padding: auto;
    margin: auto;
    width: 820px;
}
.main2{
    height: 500px;
    width: 800px;
    margin: 10px;
}
.centerdiv{
    text-align: center;
    margin-top: 0px;
    padding: auto;
    width: 100%;
    height: 40%;
    border: 1px solid black;
    background-color: #FF9999;
}
.TwoDiv{
    border: 1px solid black;
    width: 100%;
    height: 60%;
}
.proFileimage{
    float: left;
    margin-top: -303px;
    background-color: #ECECFB;
    text-align: center;
    margin-left: 75%;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}
.imageTag{
    width: 75%;
    float: left;
    height: 100%;
    border: 1px solid black;
    background-color: #D8DA3D;
    display: inline-block;
}